{% extends "::admin.html.twig" %}

{% block title %}Add Type{% endblock %}

{% block body %}
    <div class="row mt-4">
        <div class="col-6">
            Back to types
            <button class="btn btn-outline-primary">
                <a href="{{ path('app_admin_listtype') }}"><i class="fa fa-arrow-right"></i> </a>
            </button>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <legend>Add User Type</legend>
            <div class="{% if (errors ?? [])  %}alert-danger{% endif %}">
                {{ (errors ?? []) | join(',') }}
            </div>
            <form action="{{ path('app_admin_savetype') }}" method="post">
                <div class="form-group">
                    <label for="userTypeDescription">Description</label>
                    <input type="text" class="form-control" id="userTypeDescription" name="description" placeholder="Enter user type description">
                </div>
                <div class="form-group">
                    <label for="userType">Type</label>
                    <input type="text" class="form-control" id="userType" name="type" placeholder="Enter user type">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}